/* Start CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* End CSS Reset */

@font-face {
  font-family: "NorseBold";
  src: url(font/Norse-Bold.otf) format("opentype");
}

:root {
  --primary-clr: hsl(217, 44%, 25%);
  --secondary-clr: hsl(331, 90%, 36%);
  --text-clr: #b9caf6;
  --shadow-clr: hsl(217, 44%, 15%);
  --inp-border-rad: 5px;
}

/* === Layout === */

body {
  display: flex;
  min-height: 100svh;
  flex-wrap: wrap;
  font-family: roboto, sans-serif;
  color: var(--text-clr);
  background-color: var(--primary-clr);
}

.img-container {
  width: 30%;
  background-image: url(assets/cheng-feng-psdV2Rl-GvU-unsplash.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 0;
}

.form-container {
  margin: 0 auto;
  width: 70%;
  min-width: 580px;
  background-color: var(--primary-clr);
}

.container {
  padding: 1.5rem 3rem 2rem;
}

.infotext-container {
  padding: 5rem 3rem 2rem;
  width: 70%;
}

.infotext-container > p:last-child {
  margin: 2rem 0 1.5rem;
}

footer.container {
  padding: 0 3rem;
}

/* === Form === */

section.form {
  box-shadow: 0 3px 10px var(--shadow-clr);
}

.form > ul {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  display: block;
  margin: 5px 0;
  font-size: clamp(0.3rem, 5vw, 0.7rem);
  font-weight: 600;
  letter-spacing: 2px;
}

input {
  width: 250px;
  border: 1px solid var(--primary-clr);
  border-radius: var(--inp-border-rad);

}

/* === Img === */

img {
  height: 80%;
}

/* === Font === */

h1 {
  font-family: "NorseBold";
  color: white;
  font-size: 5rem;
}

.infotext-container p {
  font-weight: bold;
  font-size: clamp(0.7rem, 5vw, 1.3rem);
}

.form > h2 {
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-weight: bold;
  margin: 0 0 1.5rem;
}

em {
  font-style: italic;
}

a {
  color: hsl(338, 72%, 65%);
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* === Button === */

button {
  font-weight: bold;
  padding: 0.7em 2.5em;
  border-radius: 8px;
  margin: 0 0 1.5rem;
  color: white;
  border: none;
  background-color: var(--secondary-clr);
}

/* === Form pseudo === */

input:focus {
  border: 1px solid var(--secondary-clr);
  box-shadow: 1px 1px 10px #aaa;
}

input.error {
  border: 2px solid hsl(0, 100%, 50%);
}

li > div.error {
  font-size: 0.6rem;
  color: hsl(15, 100%, 70%);
  line-height: 1.5;
}

/* === Media Queries === */

@media (width < 830px) {
  body {
    min-height: 0;
  }

  .form-container,
  .infotext-container {
    width: 100%;
    min-width: 0;
  }

  .infotext-container {
    padding: 1rem;
  }

  .form {
    padding: 1.5rem 1rem;
  }

  .form > h2 {
    text-align: center;
  }

  .form > ul {
    justify-content: center;
    width: 100%;
  }

  input {
    width: 100%;
    max-width: 250px;
  }

  .img-container {
    width: 100%;
  }

  .text-header {
    margin: 0;
  }

  button {
    display: block;
    margin: 0 auto 1.5rem;
  }

  button+p {
    text-align: center;
  }

  footer p {
    text-align: center;
  }
}

@media (width < 450px) {
  .form > ul > li {
    width: 90%;
  }

  input {
    width: 100%;
    max-width: none;
  }
}