/* Start CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* End CSS Reset */

@font-face {
  font-family: 'NorseBold';
  src: url(font/Norse-Bold.otf) format('opentype');
}

/* === Layout === */

body {
  display: flex;
  min-height: 100svh;
  flex-wrap: wrap;
  font-family: roboto, sans-serif;
}

.img-container {
  width: 30%;
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0;
}

.form-container {
  width: 70%;
}

.container {
  padding: 1.5rem 3rem 2rem;
}

.infotext-container {
  padding: 3rem 3rem 2rem;
}

/* === Form === */

section.form {
  box-shadow: 0 3px 10px #bbb;
}


.form > ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  display: block;
  margin: 5px 0;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 2px;
}

input {
  width: 300px;
}


/* === Img === */

img {
  height: 80%;
}

/* === Font === */

h1 {
  font-family: 'NorseBold';
  color: white;
  font-size: 5rem;
}

.infotext-container p {
  font-weight: bold;
  font-size: 1.3rem;
}

.form > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 1.5rem;
}